<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter Namespace" id="txtNamespace" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter Name" id="txtName" />
        </div>
    </div>
</div>
<div class="row" id="head">
    <div class="col-sm-12">
        <div class="form-group" style="border-bottom:1px solid #0094ff">
            <label class="h5">Head</label>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" />
        </div>
    </div>
</div>
<div class="row" id="body">
    <div class="col-sm-12">
        <div class="form-group" style="border-bottom:1px solid #0094ff">
            <label class="h5">Body</label>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" />
        </div>
        <div class="form-group">
            <input class="form-control" type="text" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <button class="btn btn-outline-info" id="btnSubmit">Submit</button>
        </div>
        <div class="form-group">
            <result></result>
        </div>
    </div>
</div>

<script>
    $('#btnSubmit').click(e => {
        let __head = [], __body = [];
        $('#head').find('input').each(function () {
            if ($(this).val() !== null && $(this).val() !== '') {
                __head.push($(this).val())
            }
        });
        $('#body').find('input').each(function () {
            if ($(this).val() !== null && $(this).val() !== '') {
                __body.push($(this).val())
            }
        })
        $(e.currentTarget).prop('disabled', true).text('Requesting...');
        let req = {
            _namespace : $('#txtNamespace').val(),
            name: $('#txtName').val(),
            head: __head,
            body: __body,
        };
        $.post('/Home/PostData', req).done(result => {
            console.log(result);
            $('result').html(result);
        }).fail(xhr => { alert('something went wrong'); console.log(xhr.responseText) }).always(() => {
            $(e.currentTarget).prop('disabled', false).text('Submit');
        });
    });
</script>