@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <div class="table-responsive" style="max-height:calc(100vh - 150px);overflow-y:auto;">
            <gridOutlet></gridOutlet>
        </div>
    </div>
</div>

@section scripts{
    <script>
        const loadGrid = () => {
            $.post("Home/BBPSOutlets").done(result => $('gridOutlet').html(result)).fail(xhr => { alert("Something went wrong"); console.error(xhr.responseText) });
        };
        (() => { loadGrid(); openInitialForm() })();
    </script>
}